/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}


:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/* Barre de Navigation */

.logo {
    height: 30px;
}

.navigation, .navigation:hover {
    padding: 32px;
    color: black;
    border-top: 5px solid transparent;
}

.navigation:hover {
    border-top-color:#0065FC
    
}
.navigation:hover {
    color: #0065FC;
}

nav {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 15px 2px; 
}
.nav_bordure {
    padding-top: 10px;
    padding-bottom: 0px;
}

.ul_nav {
display: flex;
justify-content: center;
list-style-type: none;
}

.li_nav {
    padding: 1px;
    margin: 0 10px;
    padding-left: 40px;
    padding-bottom: 20px;
}

/*Section Barre de Recherche */

.titre_h1{
    font-size: 30px;
    margin-bottom: -10px;
    
}

.p_dessous_de_titre{
    font-size: 17px;
    
    
}
.recherche {
    display: flex;
    width: 450px;
    height: 50px;
    padding-bottom: 10px;
}
.icone_recherche {
    background-color: #F2F2F2;
    padding: 14px;
    border-radius: 15px 0px 0px 15px;
    padding-left: 20px;
    padding-right: 20px;
    
}


.barre_recherche {
    width: 200px;
    border-top: #F2F2F2 1px solid;
    border-bottom: #F2F2F2 1px solid;
    border-left: none;
    border-right: none;
    padding: 15px;
}
.barre_recherche:focus {
    outline: none;
}

.bouton_recherche {
    background-color: #0065FC;
    color: white;
    border: none;
    border-radius: 0px 20px 20px 0px;
    font-weight: 900;
    cursor: pointer;
    padding-left: 35px;
    padding-right: 35px;

}
.bouton_recherche:hover {
    box-shadow: 0 0 10px rgba(27, 15, 187, 0.5);
}

input::placeholder {
    font-weight: bold;
}
::-webkit-input-placeholder { /* chrome */
    color: black;
    font-weight: bold;
  }
  
  ::placeholder {
    color: black;
    font-weight: bold;
  }
  ::-moz-input-placeholder { /* mozilla */
    color: black;
    font-weight: bold;
  }
  
  ::placeholder {
    color: black;
    font-weight: bold;
  }
  ::-ms-input-placeholder { /* ie */
    color: black;
    font-weight: bold;
  }
  
  ::placeholder {
    color: black;
    font-weight: bold;
  }
  ::-webkit-input-placeholder { /* safari */
    color: black;
    font-weight: bold;
  } 
  
  ::placeholder {
    color: black;
    font-weight: bold;
  }


/*Section Filtre & infos */

.filtre {
    display: flex;
    align-items: baseline;
    gap: 35px;
    
}
.bouton_filtre {
    border: 1px solid #F2F2F2;
    border-radius: 20px;
    /* optionnel a enlever si bug */
    padding-right: 15px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

}
.bouton_filtre:hover {
    transform: scale(1.1);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
    border-color: #F2F2F2;
    background-color: #DEEBFF;
}

.bouton_filtre p {
margin: 0px;

}
.bouton_filtre .fa-solid {
    border-radius: 20px;
    padding: 14px 17px 14px 17px;;
    margin-right: 5px;
}

.fa-solid.fa-person {
    padding: 14px 17px 14px 17px;
    ;
}
.icone_information {
    display: flex;
    align-items:baseline;
}
.bouton_information {
    /****** mettre des padding si besoin ***********/
    border: 1px solid #F2F2F2;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.texte_information {
    padding-left: 10px;
}


/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}



/****** Hebergements ***********/
.hebergements {
    width: 65%;
}
.titre_hebergement{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.case_hebergement img {
    width: 100%;
    height: 136px;
        border-top-left-radius: 20px;
           
        border-top-right-radius: 20px;
        
}

/****** J'ai enlevé width: X%; à voir par la suite / remettre si bug***********/
.case_hebergement .card-content {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.case_hebergement .card-title {
    margin-top: 10px;
    margin-bottom: 4px;  
}
.case_hebergement .card-subtitle {
    margin: 0;
}
.case_hebergement .card-rating {
    margin-bottom: 5px;
}
.case_hebergement {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
    padding-bottom: 30px;
    padding-top: 45px;
}
.sous_titre_afficher {
    font-size: 18px;
}

.case_hebergement .card {
    display: flex;
    flex-direction: column;
}




/****** Populaires & Hebergements ***********/


.card:hover {
    transform: scale(1.05);
}
.card {
  display: block;
  width: 100%;
  height: auto;
  transition: transform 0.5s ease;
  position: relative;
  overflow: hidden;
}




/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 45px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}
.carte_all {
    display: flex;
}

/* Activités à Marseille */

.activites {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
    gap: 2rem;
}
.titre_activites {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}
.card_activites {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    flex-wrap: wrap;
    gap: 2rem;
    grid-gap: 2rem;
    padding-bottom: 60px;
}
.card_activites .card img {
    width: 100%;
    height: 380px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.card_activites .card-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
}
.card_activites .card {
    display: flex;
    flex-direction: column;
    padding: 0px;
}



/*Footer*/
.footer_all {
    display: flex;
    justify-content: space-between;
    padding-right: 260px;
}
.ul_footer {
    list-style-type: none;
}
.li_footer {
    list-style-type: none;
    padding-bottom: 15px;
}
.footer_titre {
    padding-left: 40px;
}
.footer {
    background-color: #F2F2F2;
}

/*Test Margin*/
.margin_main {
    margin-right: 30px;
}
.header_margin {
    margin-right: 30px;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/

/****** Version Desktop  ***********/



/* Medium devices (tablets, less/equal than 1024px) */
@media  (max-width: 1024px) {
/* Barre Recherche */

/* Barre Recherche */


/* Filtres */
    .filtre {
        
        flex-wrap: wrap;
        margin-top: 30px;
    }
/* Filtres */


/* HERBERGEMENTS & Populaires */
    .hebergements-and-populaires {
        flex-direction: column;
    }
/* HERBERGEMENTS & Populaires */


/* HERBERGEMENTS*/
    .hebergements {
        width: 100%;
        margin-top: 50px;
    }
    
    .case_hebergement {
            
            flex-wrap: wrap;
    }
    .hebergements-and-populaires section {
        box-sizing: content-box;
    }

    .case_hebergement a {
        width: 30%;
    }
    .case_hebergement .card-title {
        font-size: 13px;
    }
    .case_hebergement .card-subtitle {
        font-size: 13px;
    }

/* HERBERGEMENTS*/

/****** Séparation pour y voir clair ***********/
    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
    /* Actiivites*/
    .card_activites .card img {
        width: 100%;
        height: 220px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        object-fit: cover;
    }
    .card_activites .card-subtitle {
        font-size: 13px;
    }
    .card_activites .card-title {
        font-size: 14px;
    }
}


/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
        .fa-magnifying-glass {
        background-color: #0065FC;
        color: white;
        border: none;
        border-radius: 15px 15px 15px 15px;
        cursor: pointer;
        padding-left: 10px;
        padding-right: 3px;
        position: relative;
        right: 14px;
        }
        .bouton_recherche {
            display: none;
        }
        

}