/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/* Barre de Navigation */

.navigation, .navigation:hover {
    padding: 5px;
    color: black;
    border-top: 4px solid transparent;
}

.navigation:hover {
    border-top-color:#0065FC
    
}

nav {
    display: flex;
    justify-content: space-between; /* Pour aligner les éléments à gauche et à droite */
    align-items: center; /* Pour aligner les éléments verticalement au centre */
    padding: 15px 2px; /* Espacement interne */
}

ul {
display: flex;
justify-content: center;
list-style-type: none;
}

ul li {
    padding: 1px;
    margin: 0 10px;
    padding-left: 40px;
    padding-bottom: 20px;
}

/*Section Barre de Recherche */

.titre_h1{
    font-size: 30px;
    margin-bottom: -10px;
    
}

.p_dessous_de_titre{
    font-size: 17px;
    
    
}
.recherche {
    display: inline-flex;
    max-width: 100%;
    overflow: auto;
    
    

}
.icone_recherche {
    background-color: #F2F2F2;
    padding: 1rem 1.25rem;
    border-radius: 30px 0px 0px 30px;
    
}
.fa-solid {
    color: black;
}
.barre_recherche {
    width: 200px;
    border-top: #F2F2F2 1px solid;
    border-bottom: #F2F2F2 1px solid;
    border-left: none;
    border-right: none;
    font-weight: 900;
    padding: 15px;

    
    
}
.barre_recherche:focus {
    outline: none;
}
.bouton_recherche {
    background-color: #0065FC;
    color: white;
    border: none;
    border-radius: 0px 30px 30px 0px;
    padding: 25px;
    font-weight: 900;
    cursor: pointer;

}
/*Section Filtre & infos */





/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}